.grid{
    width: 500px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

.mole{
    background-color: blue;
}